   <%- include("header") -%> 

    <div class="box">
      <h1 id="heading"><%= listTitle %> </h1>
    </div>

    <div class="box">
      
    <%  newLists.forEach((item)=>{ %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" value="<%= item._id  %>" name="checkbox" onchange="this.form.submit()" />
            <p><%= item.name %></p>
          </div>
        </form>
    <%  }) %>

      <form class="item" action="/" method="post">
      <input type="text" name="newItem" id=""  placeholder="New Item" autocomplete="off"/>
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
    </div>


    <%- include("footer") -%> 


 